*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
#nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 8px;
}
#nav_part_1{
    display: flex;
    align-items: center;
    gap: 40px;
    color: solid #00754a;
}
#nav_part_1>img{
    height: 40px;
    height: 40px;
    padding-right: 10px;
}
#nav_part_1>h3{
    font-size: 15px;
    font-weight: 400;
}
#nav_part_1>h3:hover{
    border-bottom: 2px solid black;
}

#nav_part_2{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav_part_2>input{
    height: 22px;
    width: 144px;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    box-shadow: 5px 5px 5px rgb(236, 232, 232);
}
#nav_part_2>img{
    height: 30px;
    width: 30px;
}
#heading{
    height: 80px;
    width: 100%;
    color: white;
    background-color: #1E3932;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#heading>h1{
    font-size: 20px;
    font-weight: 400;
}
#heading>button{
    padding: 4px  11.2px;
    font-size: 12px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}
#nav_part_1{
    border-bottom: 2px sild black;
}
#content{
    width: 100%;
    padding: 10px 80px;
}
#content_part_1{
    width: 100%;
}
#content_part_1>h1{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}
#part1_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.img1>img{
    height: 70px;
    border-radius: 50%;
}
.img1>h5{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

#content_part_2{
    background-color: #21c589;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    border: 1px solid #99661e;
    border-radius: 12px;
}
#content_part_2 img{
    height: 200px;
}
#part2_1{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
#content_part_2 button{
    background-color: #fff;
    color: #000;
    padding: 10px 43px;
    border-radius: 50px;
    border: none;
    margin-top: 80px;
    margin-right: 30px;
}
#content_part_2>button{
    background-color: #fff;
}

#part2_2>p{
    font-size: 13px;
    margin: 11px 0 ;
    color:#fff;
}
#part2_2>h2{
    font-size: 18px;
    font-weight: 600;
    color:#fff;
}
#part2_2>h6{
    font-size: 12px;
    margin-top: 20px;
    font-weight: 450;
    color:#fff;
}
#content_part_3{
    margin-top: 20px;
    position: relative;
}
#content_part_3>h1{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}
#part3{
    width: 100%;
    height: 48vh;
    margin-top:20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.part3_1{
    background-color: #EDEBE9;
    border: 2px solid #c2bdbdc1;
    box-shadow: 2px 2px 10px #c2bdbdc1;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.part3_1 img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.part31{
    padding: 10px;
}
.part31 h2{
    font-size: 12px;
    line-height: 12px;
}
.part31 h6{
    font-weight: 400;
    margin-bottom: 7px;
    font-size:12px;
}
.part31 p{
    font-size: 11px;
    margin-bottom: 10px;
}
.part32{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part32 h6{
    font-size: 10px;
    font-weight: 800;
}
.part32 button{
    padding: 3px 10px;
    background-color: #00754A;
    border: none;
    border-radius: 50px;
    font-size: 9px;
    font-weight: 500;
    color: white;
}

#content2{
    width: 100%;
    margin-top: 50px;
}
#content2_1{
    height: 35vh;
    width: 100%;
    padding: 10px 80px;
    background-color: #EDEBE9;
}
#content2_1>h1{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;    
}

#content2_2{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content21{
    width: 31%;
    height: 60%;
    padding: 10px;
    border: 2px solid #c2bdbdc1;
    box-shadow: 2px 2px 10px #c2bdbdc1;
    border-radius: 10px;
    background-color: #fff;
}
#b1{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 65%;
    gap: 3px;
    margin-bottom: 6px;
}
#b2{
    width: 25%;
    height: 100%;
}

.content21 #b2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
#b3 h3{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
#b3 h6{
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 5px;
}
#content3{
    height: 65vh;
    margin-top: 10vh;
    width: 100%;
    padding: 10px 80px;
    background-color: #EDEBE9;
}
#content3>h1{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
}
#image{
    margin-top: 25px;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    color: white;
    background-image: url("people.jpg");
    object-fit: cover;
    box-shadow:inset 50px 50px 50px 100px rgba(6, 3, 3, 0.692);
}

#image button{
    padding: 10px 55px;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
}
/* .image1{
    z-index: 1;
} */
#image .image1{
    padding-top: 100px;
    padding-left: 20px;
}
#image .image1 h1{
    font-size: 28px;
    margin-bottom: 10px;
}
#image .image1 p{
    font-size: 15px;
    margin-bottom: 30px;
}

#footer{
    margin-top: 40px;
    height: 64vh;
    width: 100%;
    padding: 30px 80px;
    background-color: #0E382C;
    color: white;
}
#footer1{
    height: 45vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
#footer1 .first{
    padding: 20px 10px;
}
#footer1 .footer_links h2{
    font-size: 20px;
    margin-bottom: 17px;
    font-weight: 600;
}
#footer1 .footer_links h6{
    font-size: 15px;
    margin-bottom: 24px;
    font-weight: 300;
}

#footer1 .footer_links1{
    display: flex;
    align-items: center;
}
#footer .footer_links1>img{
    width: 22px;
    margin-right: 10px;
    height: 22px;
    font-weight: 900;
}

#footer1 .footer_links2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#footer2{
    margin-top: 20px ;
    padding: 13px 0;
    display: flex;
    border-top: 1px solid white;
    align-items: center;
    justify-content: space-between;
}
#footer2 #contactus{
    display: flex;
    align-items: center;
    gap: 20px;
}
#footer2 #contactus h3{
    font-size: 14px;
    font-weight: 500;
}